# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (VERY IMPORTANT)
venv/
env/

# Git
.git/
.gitignore

# Node (just in case)
node_modules/

# Project runtime data (MAIN SIZE ISSUE)
data/

# Logs
*.log

# Model & ML files (IMPORTANT)
*.bin
*.pt
*.model

# HuggingFace cache (VERY IMPORTANT)
.cache/
.cache/huggingface/

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml